.p-b-24 {
    padding: 0 0 24px 0;
}

.p-b-26 {
    padding: 0 0 26px 0;
}

.p-b-32 {
    padding: 0 0 32px 0;
}

.p-b-7 {
    padding: 0 0 7px 0;
}

.p-b-10 {
    padding: 0 0 10px 0;
}

.p-b-16 {
    padding: 0 0 16px 0;
}

.p-b-40 {
  padding: 0 0 40px 0;
}

.p-b-64 {
    padding: 0 0 64px 0;
}

.p-b-80 {
  padding: 0 0 80px 0;
}

.p-t-64 {
    padding: 64px 0 0 0;
}

.m-t-64 {
    margin: 64px 0 0 0;
}

.m-t-40 {
  margin: 40px 0 0 0;
}

.m-b-30 {
  margin: 0 0 30px 0;
}

.m-b-40 {
  margin: 0 0 40px 0;
}

.m-b-60 {
  margin: 0 0 60px 0;
}

.p-t-b-30 {
  padding: 30px 0; 
}
