.title-2 {
  font-size: 48px;
  font-weight: 700;

  //animation: moveUp 1s ease-out;
}

.title-3 {
  font-size: 24px;
  font-weight: 700;
}

.title-4 {
  font-size: 16px;
  font-weight: 600;
}

.title-5 {
  font-size: 24px;
  font-weight: 500;
}
