.contact {

  .container {

  }
  .single-row {
    position: relative;

    .logo-2 {
      position: absolute;
      right: 0;
      top: 0;
      width: 176px;
      height: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
      border-left: 1px solid $light-gray;
      @media(max-width: $max-lg) {
        display: none;
      }
    }
  }

  .border-it {
    border-bottom: 1px solid $light-gray;
  }
}
