.offer {
  
  .centered {
    text-align: center;
  }

  .vzornik img{
    height: 25rem;
    width: auto;
    transition: all .4s;
    backface-visibility: hidden;
    
    &:hover {
      transform: scale(1.15);
    }
  }

  .button {
    margin-top: 70px;

    & a {
      transition: all .4s;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 600;
      color: #fff;
      
    }
  }


  background-repeat: no-repeat;
  background-position: 110% -124px;
  @media(min-width: 1921px) {
    background-position: right top;
  }
  @media(max-width:$max-md) {
    background-position: 102px -124px; 
  }
  
}
